services:
  # NOTE. I AM TOO LAZY TO SETUP A DOCKERFILE WITH CUDA SUPPORT FOR FAST DETECTIONS RESPONSES. SO RUN THIS SHIT LOCALLY: 
  #
  #   cd core
  #   DYNAMODB_ENDPOINT_URL="http://0.0.0.0:8000" uvicorn clear_vision.entrypoints.api.main:app --host 0.0.0.0 --port 4000 --reload
  #
  # ONCE THIS SETUP IS DONE, UNCOMMENT THIS SERVICE:
  #
  # api:
  #   image: raphael/clear-vision-api:local
  #   build:
  #     context: ./core
  #   ports:
  #     - "4000:4000"
  #   volumes:
  #     - "./core/poetry.lock:/app/poetry.lock"
  #     - "./core/pyproject.toml:/app/pyproject.toml"
  #     - "./core/clear_vision:/app/clear_vision"
  #   # env_file: .env
  #   entrypoint:
  #     - /bin/sh
  #     - -c
  #     # DEVELOPMENT only: monitor changes on .py files to reload server
  #     - |
  #       poetry run uvicorn clear_vision.entrypoints.api.main:app --host 0.0.0.0 --port 4000 --reload
  #   depends_on:
  #       dynamodb:
  #         condition: service_healthy
  #   environment:
  #     AWS_ACCESS_KEY_ID: "fake"
  #     AWS_SECRET_ACCESS_KEY: "fake"
  #     AWS_REGION: "us-east-1"
  #     VIDEOS_TABLE: "Videos"
  #     INFERENCES_TABLE: "Inferences"
  #     INFERENCES_GSI: "video_uid_idx"
  #     DYNAMODB_ENDPOINT_URL: "http://dynamodb:8000"
  #   deploy:
  #     resources:
  #       # limits:
  #       #   memory: "12G"
  #       reservations:
  #         # cpus: 2
  #         memory: "6G" # At least 6 gigs reserved

  ui:
    image: raphael/clear-vision-ui:local
    build:
      dockerfile: Dockerfile
      context: ./ui
    ports:
      - "8501:8501"
    env_file: ./ui/.env
    volumes:
      - ./ui/requirements.txt:/app/requirements.txt
      - ./ui/app.py:/app/app.py
      - ./ui/pages:/app/pages
      - ./ui/components:/app/components
      - ./ui/infra:/app/infra

  # ollama-server:
  #   image: raphael/clear-vision-ollama-server:local
  #   build:
  #     context: ./ollama-server
  #     args:
  #       OLLAMA_MODEL: qwen3-vl:2b
  #   ports:
  #     - 11434:11434
  #   volumes:
  #     # Map volume to downloaded model via ollama pull
  #     - ollama:/root/.ollama

  dynamodb:
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    image: "amazon/dynamodb-local:latest"
    ports:
      - "8000:8000"
    volumes:
      - "./core/clear_vision/infra/dynamodb/data:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal
    healthcheck:
      test: [ "CMD-SHELL", "curl -s http://localhost:8000 || exit 1" ]
      interval: 2s
      timeout: 2s
      retries: 20
      start_period: 2s

  dynamodb-pytest:
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    image: "amazon/dynamodb-local:latest"
    ports:
      - "8005:8000"
    volumes:
      - "./core/tests/adapters/repositories/data:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal
    healthcheck:
      test: [ "CMD-SHELL", "curl -s http://localhost:8000 || exit 1" ]
      interval: 2s
      timeout: 2s
      retries: 20
      start_period: 2s
    
# volumes:
#   ollama:
